:host {
  /*left must be negative width (eg width: 400; left -400)*/
  background: #233233;
  color: #ffffff;
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 404px;
  z-index: 9999;
}

a {
  color: inherit;
}

ul {
  font-size: 18px;
  line-height: 3;
  font-weight: 400;
  padding-top: 50px;
  list-style: none;
  float: none !important;
}

li a {
  display: block;
  padding: 0 12px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  background-color: #4189C7;
  color: white;
  float: none !important;
}

li .glyphicon {
  margin-right: 10px;
}
