<div class="nav-menu">
    <div>
      <div>
        <a [routerLink]='["/"]'>diagnostix.WEB</a>
      </div>
      <div class='clearfix'></div>
      <div [ngClass]='{ "in": isExpanded }'>
          <ul>
              <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                  <a [routerLink]='["/"]' (click)='collapse()'>
                      <span class='glyphicon glyphicon-home'></span> Home
                  </a>
              </li>
              <li [routerLinkActive]='["link-active"]'>
                  <a [routerLink]='["/counter"]' (click)='collapse()'>
                      <span class='glyphicon glyphicon-education'></span> Counter
                  </a>
              </li>
              <li [routerLinkActive]='["link-active"]'>
                  <a [routerLink]='["/fetch-data"]' (click)='collapse()'>
                      <span class='glyphicon glyphicon-th-list'></span> Fetch data
                  </a>
              </li>
          </ul>
      </div>
      <div>
        <button (click)="togglePin()" [textContent]="isPinned"></button>
      </div>
  </div>
</div>
