.header_bar {
    background: #435d61;
    color: #ffffff;
    font-size: 48px;
}

.menu_button_container {    
    float: left;
}

.menu_button {
    border: none;
    background-color: transparent;
    background-image: url('../../assets/menu.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 64px;
    height: 64px;
    margin: 30px 0px;
}

.app_title {
    padding: 30px 0;
    text-align: center;
}

.logo {
    padding-right: 15px;
}

.web_body {
    padding: 30px 15px;
}

@media only screen and (max-width: 472px) {
    .header_bar {
        font-size: 24px !important;
    }

    .menu_button {
        background-image: url('../../assets/menu_small.png');
        width: 32px;
        height: 32px;
        margin: 15px 0px;
    }

    .app_title {
        padding: 15px 0;
    }

    .logo {
        height: 32px;
    }

    .web_body {
        padding: 15px 15px;
    }
}